
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin-left: 200px;
  padding:  20px;

}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-left: 100px;
}
input {
  width: 20%;
  padding: 8px;
  margin-bottom: 21px;

}

button{
  padding: 8px 16px;
  background-color: rgb(163, 100, 221);
  color: black;
  border: none;
  cursor: pointer;

}

 button:hover{
  background-color: rgb(197, 156, 235);
 }

 ul {
  margin-bottom: 10px;

 }

 li {
  margin-bottom: 5px;
 }
 
